include README.md
include LICENSE
include docs/*.md
include docs/*.html
include formal/*.tex
recursive-include lean *.lean
recursive-include lean lakefile.toml
recursive-include examples *.py
recursive-include tests *.py
